<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.hazenix.hazeaihub.mapper.QaPairMapper">

    <!-- 批量插入 -->
    <insert id="batchInsert">
        INSERT INTO kb_qa_pair (chunk_id, question, answer, library_id, media_id)
        VALUES
        <foreach collection="qaPairs" item="qa" separator=",">
            (#{qa.chunkId}, #{qa.question}, #{qa.answer}, #{qa.libraryId}, #{qa.mediaId})
        </foreach>
    </insert>

</mapper>
